.container {
  min-height: 100vh;
  padding: 0 2rem;

  background-image: linear-gradient(
    to right,
    rgba(175, 175, 175, 0.87),
    rgba(8, 110, 97, 0.424)
  );
}

.main {
  padding: 2rem 0;
  flex: 1;
  font-size: 1.25rem;
}
