.container {
  min-height: 100vh;
  padding: 0 2rem;

  background-image: linear-gradient(
    to right,
    rgba(173, 177, 180, 0.377),
    rgba(226, 226, 221, 0.842)
  );
}

.main {
  padding: 2rem 0;
  flex: 1;
  font-size: 1.25rem;
}
